// Colors

$primary-titles-color: rgba(48, 48, 48, 1);
$secondary-titles-color: rgba(157, 164, 189, 0.6);
$h1-h2-title-color: rgba(255, 255, 255, 1);
$primary-text-color: rgba(85, 85, 85, 1);
$services-list-text-color: rgba(157, 164, 189, 1);

$button-black-title-color: rgba(48, 48, 48, 1);
$button-border-color: rgba(255, 108, 0, 1);
$button-white-title-color: rgba(255, 255, 255, 1);

$barber-kind-title-color: rgba(255, 108, 0, 1);

$social-links-primary-color: rgba(48, 48, 48, 1);
$social-links-hover-color: rgba(255, 108, 0, 1);

$address-text-color: rgba(157, 164, 189, 1);
