.hero-section .remark {
  font-family: "Open Sans";
  @include font(600, 11px, 1.36, 0.1em);
  text-transform: uppercase;

  color: $secondary-titles-color;

  text-align: center;
  padding-top: 115px;
  margin: 0;
}

.hero-section .title {
  font-family: Open Sans;
  @include font(700, 48px, 1.16, 0.05em);

  color: $h1-h2-title-color;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.hero-section .text {
  font-family: "Open Sans";
  @include font(400, 16px, 1.6, 0.02em);
  color: $secondary-titles-color;

  padding-bottom: 183px;
  padding-right: 143px;

  margin: 0;
}

.header nav {
  padding-top: 40px;
  .icon {
    fill: $h1-h2-title-color;
  }
}

.navigation .list {
  list-style: none;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0;
  padding-left: 0;
}
.header .container {
  background-image: url(../../../images/slider/Slider_3.jpg);
}

.navigation .link-icon-stripes {
  padding-right: 8px;
}

.hero-section .icon {
  display: inline-flex;
  fill: $secondary-titles-color;
  margin-right: 20px;
  margin-bottom: 4px;
}
